<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <img src="https://i.imgur.com/wcMe1w4.png" id="background-image">
    <main id="main">
        <div id="header">
            <p id="headertxt">Oscar's <strong>cool</strong> site</p>
        </div>

        <div id="layout">
            <div id="sidebar">
                <div class="sidebar-sectionodd">
                    <div class="sidebar-heading">
                        Welcome, explorer!
                    </div>
                    <div class="sidebar-content">
                        This is my little website, I (Oscar) will post random things here if I ever think of something worth putting onto the interweb.
                    </div>
                </div>

                <div class="sidebar-sectioneven">
                    <div class="sidebar-heading">
                        THE REPUBLIC OF WHO KNOWS WHERE
                    </div>
                    <div class="sidebar-content">
                        A cool nation I made! Under development, join the RP server <a href="https://discord.gg/4VmDV6qyHc">here.</a>
                    </div>
                </div>

                <div class="sidebar-sectionodd">
                    <div class="sidebar-heading">
                        CubingPanda
                    </div>
                    <div class="sidebar-content">
                        I run CubingPanda, a friendly cubing community, find more info <a href="https://cubingpanda.com">here.</a>
                    </div>
                </div>
            </div>
            <div id="submain">
                <div class="submain-section">
                    <div class="submain-heading">
                        Cool language idea I had:
                    </div>
                    <div class="submain-content">
                        Alright so there are technically 600,000 words in the English language but only around 171,476 are actually used.</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <p id="footertxt">Oscar's cool site</p>
        </div>
    </main>
</body>
</html>